.brand-hi {
    font-size: x-large;
    text-align: center;
}

.brand-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: center;
}

.brand-a  {
    margin-top: 50px;
    font-size: x-large;
    text-align: center;
}

span {
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace
}

.socials {
    width: 120px;
    margin-top: 250px;
    gap: 20px;
    text-align: center;
    margin-left: 550px;
}

.socials a {
    width: 100px;
    height: 100px;
}